.background-image {
  position: relative;
  height: 100vh;
  min-height: 100vh;
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../../Images/hospital.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  animation: grayMove 10s infinite;
}

.info {
  position: relative;
  z-index: 1;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: none;
  animation: none;
}

.whiteBox{
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px; 
  border-radius: 10px; 
}

.logo {
  min-width: 100%;
}

@keyframes grayMove {
  
  50% {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}

.welcomeButton {
  margin-left: 10px;
}

@media screen and (max-width: 601px) {
  .logo {
    min-width: 70%;
  }
}