.menuButton {
    color: rgb(61, 61, 61);
    font-size: 1.5vw;
    margin: 1rem;
    text-align: center;
    text-decoration: none;

}

.menuButton:hover {
    color: #fd5d5d;
    cursor: pointer;
    transition: 0.5s;
}

.navbar {
    width: 50%;
    min-Width: 50%;
    display: flex;
    left: 25%;
    top: 20px;
    height: 10%;
    background-color: rgba(255, 255, 255, 0.801);
    position: relative;
    z-index: 100;
    border-radius: 10px;
    padding: 10px;
    
}

.mini-logo {
    width: 50%;
    height: 50%;
  }

@media screen and (max-width: 801px) {
    .menuButton {
        font-size: 3vw;
        margin: 1rem;
    }

    .navbar {
        width: 70%;
        min-Width: 70%;
        left: 15%;
    }
}