.image {
    height: auto;
    width: 100%;
    padding: 0;
}

.aboutText {
    color: white;
    font-size: 25px;
    margin: 3rem;
}

@media screen and (max-width: 601px) {
    .aboutText {
        font-size: 7vw;
        margin: 2rem;
    }
}