table {
    width: 75%;
    position: relative;
    top: 20px;
    left: 12.5%;
    text-align: center;
    border-collapse: collapse;
    font-size: 25px;
}
  
table tbody tr {
    background-color: rgb(248, 199, 199);
}
  
table tbody tr:nth-child(even) {
    background-color: rgb(250, 204, 236);
}
  
table td,
table th {
    padding: 0.2rem;
}
  
table button {
    padding: 0.2rem 1rem;
    margin: 0.1rem;
}

.loading {
    position: relative;
    top: 20px;
    font-size: 40px;
}

button{
    text-decoration: none;
    background-color: rgb(17, 0, 255);
    color: aliceblue;
}

button:hover{
    color: black;
    background-color: rgb(211, 50, 50);
    transition: 0.3s;
}